.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding:20px;
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-top:20px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin:20px;
    padding:10px;
}
.sub-content {
    height: 200px;
    width: 210px;
    margin:5px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-top:25px;

}

.row{
    display:flex;
}
