.row {
    display: flex;
    justify-content: space-evenly;   
}

/*PART I */
.col {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: rgb(21, 175, 175);
}
.row2 {
    display: flex;
    justify-content: space-evenly;  
}

/*PART II */
.col-2 {
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color:rgb(21, 175, 175);
}
/*PART III */

.col-3 {
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color:rgb(21, 175, 175);
}